<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721890718303-u5keoqner6foc8ukfucsbbkh4pfit5rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721890718303-u5keoqner6foc8ukfucsbbkh4pfit5rr</string>
	<key>API_KEY</key>
	<string>AIzaSyC3ElKH93e8oIMiSakjB71dVjwTVQ1IAkw</string>
	<key>GCM_SENDER_ID</key>
	<string>721890718303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cheezBit.therapistApp</string>
	<key>PROJECT_ID</key>
	<string>therapistconnector</string>
	<key>STORAGE_BUCKET</key>
	<string>therapistconnector.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:721890718303:ios:638186c273dfd1acb6a1ea</string>
	<key>DATABASE_URL</key>
	<string>https://therapistconnector.firebaseio.com</string>
</dict>
</plist>
